<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daejeonpeople">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Splash" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activities.MainActivity" android:theme="@style/AppTheme"/>
        <activity
            android:name=".activities.ActionBar"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignUp" />
        <activity android:name=".activities.Email_Certified" />
        <activity android:name=".activities.Introduction_CulturalFacilities" />
        <activity android:name=".activities.Introduction_FestivalEvent" />
        <activity android:name=".activities.Introduction_LeisureTime" />
        <activity android:name=".Introduction_TouristSpot" />
        <activity android:name=".activities.Introduction_TravelCourse" />
        <activity android:name=".activities.ChatList"></activity>
    </application>

</manifest>